@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('Raleway Bold'), local('Raleway-Bold'),
    url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Bold.woff2') format('woff2'),
    url('../fonts/Raleway-Bold.woff') format('woff'),
    url('../fonts/Raleway-Bold.ttf') format('truetype'),
    url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'),
    url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Regular.woff2') format('woff2'),
    url('../fonts/Raleway-Regular.woff') format('woff'),
    url('../fonts/Raleway-Regular.ttf') format('truetype'),
    url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Italic.eot');
    src: local('Raleway Italic'), local('Raleway-Italic'),
    url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Italic.woff2') format('woff2'),
    url('../fonts/Raleway-Italic.woff') format('woff'),
    url('../fonts/Raleway-Italic.ttf') format('truetype'),
    url('../fonts/Raleway-Italic.svg#Raleway-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: local('Raleway Light'), local('Raleway-Light'),
    url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Raleway-Light.woff2') format('woff2'),
    url('../fonts/Raleway-Light.woff') format('woff'),
    url('../fonts/Raleway-Light.ttf') format('truetype'),
    url('../fonts/Raleway-Light.svg#Raleway-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


/*-----------OGÓLNE REGULY----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Raleway, Helvetica, sans-serif;
}

body {
    width: 89%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 89%;
    margin: 0 auto;
}

.accent {
    color: #24BA9F;
    font-weight: 800;
}

/*-------HEADER--------*/
header {
    background-color: #000;
    color: #fff;
    height: 41px;
    text-transform: uppercase;
}

h1 {
    font-size: 14px;
    font-weight: 300;
    display: inline-block;
    line-height: 41px;
}

nav {
    float: right;
    letter-spacing: 2px;
}

nav ul {
    position: relative;
}

nav ul li {
    display: inline-block;
    line-height: 41px;
    font-size: 13px;
    font-weight: bold;
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav ul li:last-child {
    padding-right: 0;
}

/*----------ROZWIJANA CZĘŚć NAWIGACJI---------*/

#dropdown {
    display: none;
    top: 42px;
    left: 0;
    z-index: 1;
    text-transform: none;
    font-weight: 100;
    line-height: 1em;
}

#dropdown li {
    height: 32.5px;
    line-height: 2.5em;
    display: block;
    background-color: black;
    width: 123px;
}

#dropdown a {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 600;
}

ul.menu li:hover ul#dropdown{
    display: block;
    position: absolute;
}

ul.menu li:hover > ul#dropdown::before {
    display: block;
    position: relative;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    margin: 0 auto;
}

/*------------PIERWSZA SEKCJA-----------*/

.less,
.more {
    margin-top: 200px;
    font-weight: 100;
    font-size: 90px;
}

.less {
    float: left;
}

.more {
    float: right;
}

.firstSection {
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%,
                                           rgba(246,246,246,1) 59%,
                                           rgba(207,207,215,1) 100%);
    height: 503px;
    position: relative;
}

.chair_photo {
    background-image: url('../images/black_chair.png');
    background-position: center;
    background-size: cover;
    height: 420px;
    width: 420px;
    float: left;
    margin-top: 70px;
}

.banner {
    height: 420px;
    width: 432px;
    margin-top: 70px;
    margin-left: 20px;
    float: left;
    text-align: center;
}

.banner h2 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 63px;
}

.banner p {
    padding: 0 20px;
    margin-top: 30px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.65em;
    text-align: center;
}

.banner input {
    margin-top: 30px;
    font-size: 24px;
    padding: 10px 30px;
    color: #fff;
    background-color: #24BA9F;
    border: 2px solid #24BA9F;
    border-radius: 10px;
    cursor: pointer;
    width: 260px;
}

/*----------DRUGA SEKCJA-------------*/

.secondSection {
    height: 350px;
}

.secondSection article {
    height: 227px;
    width: 332px;
    float: left;
    margin-top: 27px;
    margin-right: 26px;
}

.secondSection article:first-child {
    background-image: url('../images/box1_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.secondSection article:nth-child(2) {
    background-image: url('../images/box2_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.secondSection article:last-child {
    margin-right: 0;
    height: 254px;
    width: 340px;
    border: 1px solid #F1F1F1;
}

.secondSection h2 {
    border-bottom: 7px solid #24BA9F;
    width: 138px;
    display: block;
    font-size: 16px;
    margin-left: 15px;
    padding-top: 15px;
}

.text-background {
    margin-top: 149px;
    width: 332px;
    height: 64px;
    background-color: rgba(244, 249, 255, 0.35);
}

.chairName {
    text-transform: uppercase;
}

.secondSection article:last-child h2 {
    margin-top: 14px;
    margin-left: 22px;
}

.secondSection article:last-child p {
    margin-left: 22px;
    margin-top: 13px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 1.5em;
}

.secondSection article:last-child p:last-child {
    margin-top: 17px;
}

/*----------TRZECIA SEKCJA---------*/

.priceList {
    height: 725px;
    background-color: #F1F1F1;
}

.priceList h2 {
    text-transform: uppercase;
    margin-top: 38px;
    width: 321px;
    line-height: 38px;
    border-bottom: 7px solid #24BA9F;
}

.priceList article {
    width: 329px;
    height: 500px;
    margin-top: 75px;
    float: left;
    margin-right: 32px;
}

.priceList .basic {
    background-color: #F9F9F9;
}

.priceList article:nth-child(4) {
    margin-right: 0;
}

.plan {
    height: 218px;
    text-align: center;
}

.basic .plan {
    background-color: #F9F9F9;
}

.plan h3 {
    margin-top: 27px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 100;
    word-spacing: 3px;
}

.priceTag {
    font-size: 43px;
    font-weight: bold;
    margin-top: 27px;
    position: relative;
    border: 2px solid #D4D4D4;
    display: inline-block;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    background-color: #fff;
    color: #C1C1C1;
    padding-top: 27px;
}

.standard .priceTag {
    color: #27c7ab;
}

.grosze {
    font-size: 14px;
    position: relative;
    top: -25px;
    left: 0;
}

.features ul {
    margin: 0 auto;
    text-align: center;
}

.features ul li {
    height: 45px;
    text-align: center;
    line-height: 38px;
    font-size: 24px;
    color: #8C8C8C;
    width: 325px;
    display: inline-block;
}

.features ul li:first-child {
    background-color: #E4E4E4;
}

.features ul li:nth-child(2) {
    background-color: #F1F1F1;
}

.basic ul li:nth-child(n+3) {
    display: none;
}

.features {
    text-align: center;
}

.features input {
    margin-top: 110px;
    width: 123px;
    line-height: 1em;
    height: 33px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #27c7ab;
    border: 1px solid #27c7ab;
    border-radius: 8px;
    cursor: pointer;
}

.priceList .basic {
    background-color: #F9F9F9;
    border: 2px solid #D6D6D6;
}

/*----------DRUGI PANEL - STANDARD PLAN--------*/

.priceList .standard {
    background-color: #27C7AB;
}

.standard h3 {
    color: #fff;
}

.standard ul li:first-child {
    background-color: #fff;
}

.standard ul li:nth-child(2) {
    background-color: #F1F1F1;
}

.standard ul li:nth-child(3) {
    background-color: #fff;
}

.standard ul li:nth-child(4) {
    display: none;
}

.standard .features input {
    margin-top: 70px;
    background-color: #fff;
    color: #27C7AB;
}

/*--------DRUGI PANEL ADVANCED PLAN----------*/

.priceList .advanced {
    border: 2px solid #D6D6D6;
    background-color: #F9F9F9;
}

.advanced .features input {
    margin-top: 20px;
}

.advanced ul li:nth-child(odd) {
    background-color: #E4E4E4;
}

.advanced ul li:nth-child(even) {
    background-color: #F1F1F1;
}

/*----------CONTACT----------------*/

.contact {
    height: 550px;
}

.contact h2 {
    text-transform: uppercase;
    margin-top: 27px;
    margin-left: 8px;
    letter-spacing: -1px;
    width: 321px;
    line-height: 38px;
    border-bottom: 7px solid #24BA9F;
}

.contact form {
    width: 634px;
    margin-left: 7px;
    margin-top: 44px;
    float: left;
}

::placeholder {
    color: #CBCBCB;
    font-size: 32px;
    margin-top: 3px;
}

input,
textarea {
    color: #CBCBCB;
    width: 633px;
    font-size: 32px;
}

input[type=text],
input[type=email] {
    height: 65px;
    text-indent: 11px;
    margin-bottom: 26px;
}

textarea {
    height: 190px;
    padding-top: 12px;
    padding-left: 12px;
}

button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
}

/*----------SEND BUTTON SECTION--------*/

.sendButton {
    float: right;
    width: 374px;
    height: 394px;
    margin-top: 28px;
    margin-right: 13px;
    position: relative;
}

.redChair {
    height: 225px;
    background-image: url(../images/red_chair.png);
    background-position: center;
    background-size: 72%;
    background-repeat: no-repeat;
    position: relative;
    top: -20px;
    left: -20px;
    text-align: center;
}

.innerContainer {
    text-align: center;
    width: 95%;
}

.sendButton input[type="submit"] {
    margin: 39px auto 0 auto;
    display: block;
    width: 342px;
    height: 71px;
    color: #fff;
    background-color: #27c7ab;
    border: 1px solid #27c7ab;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: 800;
    outline: none;
    cursor: pointer;
}

/*---------Checkbox-------------*/

input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 70px;
    padding-top: 10px;
    display: inline-block;
    line-height: 22px;
    background-repeat: no-repeat;
    background-position: 11px 2px;
    font-size: 20px;
    vertical-align: middle;
    cursor: pointer;
    height: 53px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 11px -48px;
    height: 53px;
}
label.css-label {
    background-image:url(../images/tickFinal.png);
    user-select: none;
}

/*----------Footer---------------*/

.footer {
    height: 105px;
}

.footerLeft {
    float: left;
    margin-top: 36px;
    letter-spacing: 0.9px;
}

.icons,
.footerRight {
    float: right;
    height: 100px;
}

.icons {
    padding-top: 22px;
    padding-right: 65px;
}

.footerRight {
    padding-top: 31px;
    padding-right: 11px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.83px;
}

.icon1,
.icon2,
.icon3,
.icon4 {
    height: 35px;
    width: 35px;
}

.icon1 {
    content: url(../images/flickr.png);
}

.icon2 {
    content: url(../images/vimeo.png);
}

.icon3 {
    content: url(../images/pinterest.png);
}

.icon4 {
    content: url(../images/twitter.png);
}

/*------CLEARFIX-------*/
.container:after,
.container:before {
    content: "";
    display: table;
    clear: both;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}
